title: ChengLab@UPenn
description: >-
  For introducing new people to the lab and storing our Standard Operation Procedures (SOP).
theme: just-the-docs
color_scheme: dark

baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://yuyanchenglab.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: 
github_username:  yuyanchenglab
# permalink: pretty

aux_links:
  Source: https://github.com/yuyanchenglab/yuyanchenglab.github.io

# Footer last edited timestamp
last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html

callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
